@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-primaryFont font-bold;
  }
  h2 {
    @apply text-secondaryFont font-semibold;
  }
  h3 {
    @apply text-subtitle font-normal;
  }
}

@layer utilities {
  .row-flex {
    @apply flex flex-row flex-nowrap items-center justify-center align-middle;
  }
  .flex-row-btwn {
    @apply flex flex-row flex-nowrap items-center justify-between align-middle;
  }
  .flex-column {
    @apply flex flex-col items-start justify-center;
  }
  .p-section {
    padding: max(4%, 3em) 0 max(4%, 2rem);
  }
  .truncate {
    @apply w-full overflow-hidden text-ellipsis whitespace-nowrap;
  }
  .i-reset {
    @apply overflow-hidden truncate text-ellipsis whitespace-nowrap border-none bg-transparent outline-none transition-all focus:outline-none focus-visible:ring-0;
  }
}

@layer components {
  .grid-mobile-features {
    grid-auto-columns: minmax(min-content, 350px);
  }
  .grid-cols-features {
    grid-template-columns: repeat(4, minmax(270px, 1fr));
  }
}
